#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 50px;
}

img {
  max-width: 80%;
  max-height: 400px;
  object-fit: contain;
}

.search-section {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.search-input{
  width: 500px;
}